<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="modal-content" class="modal-backdrop" th:id="|edit-note-modal-${note?.id}|">
        <div class="modal">
            <div class="modal-header">
                <h3>Edit Note</h3>
                <button class="close-btn"
                        th:attr="onclick=|document.getElementById('edit-note-modal-${note?.id}').remove()|">
                    ×
                </button>
            </div>

            <div th:replace="~{notes/fragments :: note-form(
                formAction=@{/notes/{id}(id=${note?.id})},
                formMethod='PUT',
                formTarget='#note-' + ${note?.id},
                formSwap='outerHTML',
                formTrigger='submit',
                formOnAfterRequest='htmx:afterRequest: if(event.detail.successful) { document.getElementById(\'edit-note-modal-' + ${note?.id} + '\').remove(); }',
                note=${updateNoteDto},
                submitButtonText='Save Changes'
            )}"></div>
        </div>
    </div>
</body>
</html>
